body {
  font-family: "ABeeZee", Sans-serif;
}
.mid-sec {
  color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar 1*/

.nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}
.nav1 {
  background-color: #217d04;
  padding: 5px;
  padding-left: 30px;
  width: 100%;
  position: fixed;
  top: 0;
}
.nav-media {
  margin-left: 8px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.nav-media :hover {
  color: #2dc22a;
}

/* NAVIGATION BAR 2 */

.nav2 {
  background-color: #48b72c;
  position: fixed;
  top: 32px;
  width: 100%;
  padding: 12px;
}

.nav-flex {
  display: flex;
}
.logo {
  margin-left: 25px;
}
.logo:hover {
  cursor: pointer;
}
.header {
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
}
.nav-links {
  color: rgb(36, 35, 35);
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 15px;
}
.nav-links:hover {
  color: #60ee3c;
}
.nav-links:active {
  border: 1px dotted black;
  padding: 20px;
}

ul {
  list-style-type: none;
}

/* DROPDOWN */

.header li {
  padding-right: 8px;
  position: relative;
  height: 40px;
}

.header .explore ul.dropdown a {
  display: block;
  padding: 15px 50px;
  color: black;
  text-align: center;
  text-decoration: none;
}
.header .explore ul.dropdown li {
  display: block;
}
.header .explore ul.dropdown {
  position: absolute;
  top: 40px;
  z-index: 2;
  width: 250px;
  background-color: white;
  border-top: 2px solid rgb(12, 62, 199);
  display: none;
}

.header .explore:hover ul.dropdown {
  display: block;
  margin-right: 100px;
  position: absolute;
}
.header .explore ul.dropdown a:hover {
  color: rgb(55, 198, 110);
}

/* BODY */

h1 {
  font-size: 55px;
  font-weight: 600;
  margin-top: 50px;
}

.first-block {
  background-image: linear-gradient(#ffffff, #aafe93);
  text-align: center;
  margin-top: 100px;
  padding: 20px 0px;
  height: 550px;
  line-height: 35px;
}
.para1 {
  font-size: 22px;
  font-weight: 400;
}

#num {
  color: #086c07;
  font-weight: 600;
  font-size: 70px;
}
#Downloads {
  font-size: 22px;
  font-weight: 400;
}
.sec-block {
  margin: auto;
}

.article-heading {
  font-size: 25px;
  font-weight: 600;
  background-color: #0ebd3f;
  display: inline-block;
  margin-left: 40%;
  margin-top: 20px;
}
.article-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px 10px 60px;
  align-items: center;
  gap: 2rem;
  margin-bottom: 60px;
  /* border: 1px solid black; */
}
.article-p {
  font-size: 20px;
  /* width: 500px; */
  word-wrap: break-word;
  border-left: 5px solid #e7e6e6;
  padding-left: 25px;
  line-height: 35px;
  font-style: italic;
}
.p-block {
  width: 42vw;
  height: 70vh;
  margin-top: 20px;
  /* border: 1px solid black; */
  padding-top: 30px;
}
.img-block {
  width: 40vw;
  height: 70vh;
  /* margin-top: 20px; */
  /* border: 1px solid black; */
}
.animation {
  animation-name: content;
  animation-duration: 2s;
  animation-direction: normal;
}
@keyframes content {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0px);
  }
}

.image {
  width: 550px;
}
.ani-image {
  animation-name: image;
  animation-duration: 2s;
  animation-direction: normal;
}

@keyframes image {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(0px);
  }
}
.lists {
  background-color: #131313;
  color: white;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 40px;
  padding: 20px;
  margin: 2px 20px;
  /* height: 405px; */
  height: 68vh;
}
.footer-ul {
  list-style-type: none;
}
.foot-heading1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding-left: 45px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.foot-headings {
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.footer-ul li {
  margin-left: 42px;
  line-height: 28px;
  align-self: center;
  font-weight: 500;
  font-size: 15px;
}
.f-links {
  text-decoration: none;
  color: white;
}
.f-links:hover {
  color: #0eb50c;
  cursor: pointer;
}
.first-list {
  width: 200px;
  /* text-indent: -15px; */
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
}

.anchor {
  color: white;
  text-decoration: none;
}
.anchor:hover {
  color: white;
}

.menu {
  width: 250px;
}

.menu-lists {
  padding-top: 15px;
}
.menu ul li {
  font-weight: 700;
}

button {
  border: 0px solid black;
  background-color: black;
  color: white;
}

/* footend */

.foot-end {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
  padding: 25px;
}

.social-media {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.social-media :hover {
  color: #32c82f;
}
#coprights {
  margin-left: 40px;
}
#social {
  margin-right: 90px;
}

/* FOOTER EXPLORE
 */

.foot-explore ul.dropdown a {
  display: block;
  padding: 8px 50px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.foot-explore ul.dropdown li {
  display: block;
  border-bottom: 1px solid rgb(27, 240, 102);
}
.foot-explore ul.dropdown {
  position: absolute;
  z-index: 2;
  display: none;
}

.foot-explore:hover ul.dropdown {
  display: block;
  position: absolute;
}

/* RESPONSES */

@media screen and (max-width: 600px) {
  .lists {
    background-color: #131313;
    color: white;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;

    /* justify-content: space-around; */
    line-height: 40px;
    padding: 20px;
    margin: 2px 20px;
    height: 800px;
  }
}
