.terms-content {
  margin-top: 14%;
  margin-bottom: -14%;
}
.terms-h3 {
  text-align: center;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 22px;
}

.terms-typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  animation: typing 3s steps(20, end) infinite,
    blink-caret 0.2s step-end infinite;
  margin-bottom: 15px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 6vw;
  }
  to {
    width: 28vw;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* PARAGRAPHS */

.para {
  width: 92%;
  margin-left: 5%;
  font-size: 15px;
  line-height: 28px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  word-wrap: break-word;
}

.terms-anchor {
  color: black;
}
